
<div flex-xs flex-gt-xs="65" layout="column" >
 <md-card class="calc" layout-align="center center">
        <img ng-src="http://i.imgur.com/8YsAmq3.gif" class="md-card-image" alt="Washed Out"  >
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline"> Our Complex Algorthim Is Working On Bettering Your 2016</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            Please Be Patient {{name}}...
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="center end">
          <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Settings">
            <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Share">
            <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
          </md-button>
        </md-card-actions>
      </md-card>

</div>