
     <div>
        <h3 layout="row" layout-align="center center">Tell Us Why Your 2016 Sucked!</h3>
        <div layout="column" layout-align="center center">
        <md-input-container class="md-block" >
          <label>Reason 2016 Sucked</label>
          <textarea ng-model="input" md-maxlength="150" rows="1" md-select-on-focus></textarea>
        </md-input-container>
        <md-input-container class="md-block" >
          <label>Your Name</label>
          <textarea ng-model="name" md-maxlength="25" rows="1" md-select-on-focus></textarea>
        </md-input-container>
        </div>
       
            
        
 
         
</div>

<div layout="row" layout-align="center center">
   <md-button class="md-raised md-primary"  ng-click="addInput(name, input)">Shift Perspecitve...</md-button> 
</div>

    
    </div> 